### BUSINESS UNDERSTANDING

## INTRODUCTION

San Fransisco National Hospital has decided to determine the factors causing heart diseases in its patients so as to know how to reduce the rate of cardiovascular diseases in the future. To do this it has decided to hire a popular firm known as Phoenix Incorporated. This groups consists of Data scientist professsionals with varying experience levels. The lead data scientist who has received the project had decided to delegate to one of the groups in the firm. This group is to determine the factors that lead to or increase the chances of a person getting a Cardiovascular disease. The group is then supposed to build a model that predicts whether a person gets a cardiovascular disease or not. The group is to then report its findings to the Lead data scientists and the head of the San Fransisco National hospital on which factors increase the chances of a person developing cardiovascular diseases.

The group is to also do a presentation to the board members of the hospital on the same.

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('CVD_cleaned.csv')

In [4]:
df.head()

,General_Health,Checkup,Exercise,Heart_Disease,Skin_Cancer,Other_Cancer,Depression,Diabetes,Arthritis,Sex,Age_Category,Height_(cm),Weight_(kg),BMI,Smoking_History,Alcohol_Consumption,Fruit_Consumption,Green_Vegetables_Consumption,FriedPotato_Consumption
0,Poor,Within the past 2 years,No,No,No,No,No,No,Yes,Female,70-74,150.0,32.66,14.54,Yes,0.0,30.0,16.0,12.0
1,Very Good,Within the past year,No,Yes,No,No,No,Yes,No,Female,70-74,165.0,77.11,28.29,No,0.0,30.0,0.0,4.0
2,Very Good,Within the past year,Yes,No,No,No,No,Yes,No,Female,60-64,163.0,88.45,33.47,No,4.0,12.0,3.0,16.0
3,Poor,Within the past year,Yes,Yes,No,No,No,Yes,No,Male,75-79,180.0,93.44,28.73,No,0.0,30.0,30.0,8.0
4,Good,Within the past year,No,No,No,No,No,No,No,Male,80+,191.0,88.45,24.37,Yes,0.0,8.0,4.0,0.0

In [5]:
import numpy as np
def distance(a, b, c=2, verbose=True):    
    ''' 
    Function for finding the Minkowski distance between two points a and b

    Input : Point a (Array for x, y and z coordinates), Point b(x, y, z) and c the power

    Returns: Minkowski distance  

    '''
    
    # Defining vectors
    A = np.array(a)
    B = np.array(b)
    
    # Getting all values if verbose is True
    if verbose == True:
        C = np.power(np.sum(np.abs(A - B)**c), 1/c)
        
    if c == 1:
        return 'The Manhattan distance between the two places is', C
    
    if c == 2:
        return 'The Euclidean distance between the two places is', C
    
    if c > 2:
        return "The Minkowski distance between the two places is", C

In [6]:
C = (1, 7, 12)
D = (-1, 0, -5)
distance(C, D, 2)

('The Euclidean distance between the two places is', 18.49324200890693)

In [7]:
df.columns

Index(['General_Health', 'Checkup', 'Exercise', 'Heart_Disease', 'Skin_Cancer',
       'Other_Cancer', 'Depression', 'Diabetes', 'Arthritis', 'Sex',
       'Age_Category', 'Height_(cm)', 'Weight_(kg)', 'BMI', 'Smoking_History',
       'Alcohol_Consumption', 'Fruit_Consumption',
       'Green_Vegetables_Consumption', 'FriedPotato_Consumption'],
      dtype='object')

In [8]:
df.isnull().sum()

General_Health                  0
Checkup                         0
Exercise                        0
Heart_Disease                   0
Skin_Cancer                     0
Other_Cancer                    0
Depression                      0
Diabetes                        0
Arthritis                       0
Sex                             0
Age_Category                    0
Height_(cm)                     0
Weight_(kg)                     0
BMI                             0
Smoking_History                 0
Alcohol_Consumption             0
Fruit_Consumption               0
Green_Vegetables_Consumption    0
FriedPotato_Consumption         0
dtype: int64